<!DOCTYPE HTML>
<html>
    <head>
        <title>Homecoming?</title>
        <!-- todo: find correct path to nope() and hellNo.js -->
        <script src="/javascripts/hellNo.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css"/>
    </head>
    <body>
        <p>Will you go to Homecoming With Me Dana?</p>
        <form action="/done">
            <input type="submit" value="YES!!!!!!!!!!!!!!"/>
        </form>
        <input type="button" onclick="nope()" value="HELL NO!"/>
    </body>
</html>