<!DOCTYPE HTML>
<html>
    <head>
        <title>Homecoming?</title>
        <script src="/public/scripts/hellNo.js"></script>
        <link rel="stylesheet" type="text/css" href="/public/stylesheets/index.css"/>
    </head>
    <body>
        <p>Will you go to Homecoming With Me Dana?</p>
        <form action="done.html">
            <input type="submit" value="YES!!!!!!!!!!!!!!"/>
        </form>
        <input type="button" onclick="nope()" value="HELL NO!"/>
    </body>
</html>