extends layout
html
    head
        title='Homecoming???'
        script(src='/javascripts/hellNo.js')
    body
        p Will you go to Homecoming with me Dana?
        form(action='/done')
            input(type='submit()' value='YESS!!!')
        input(type='button' onclick='nope()' value='HELL NO!!!')
        

