<!DOCTYPE HTML>
<html>
<head>
    <title>YAYY!!!</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/done.css"/>
</head>
    <body>
        <p id="txt"> This is what I am wearing for homecoming.</p>
        <img id="me" src="/images/me.jpg" alt="Image not Available" width="500" class="rotate90">
        <img id="me2" src="/images/me2.jpg" alt="Image not Available" width="500" class="rotate270">
    </body>
</html>