<!DOCTYPE HTML>
<html>
<title>YAYYYYY</title>
<head>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/done.css"/>
</head>
<body>
<p> Take a screenshot and text this to me.</p>
</body>
</html>