doctype html
html
   head
     title = "The Great Button of Joy"
     link(rel='styleSheet', href='/stylesheets/index.css')
   body
     form(action='/verify')
       input(type='submit()' value='The Great Button of Joy')