<!DOCTYPE html>
<html>
    <head>
        <title>The Great Button of Joy</title>
        <!--TODO: find correct path to css -->
        <link rel='stylesheet' href='/public/stylesheets/index.css'/>
    </head>
    <body>
        <form action="/verify">
            <input type="submit" value="The Great Button of Joy">
        </form>
    </body>
</html>
