<!DOCTYPE HTML>
<html>
<title>Are You Sure?</title>
<head>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/index.css"/>
</head>
<body>
<p>Are you sure you want to push to great button of joy?</p>
<form action="ask.html">
    <input type="submit" value="yes"/>
</form>
<form action="index.html">
    <input type="submit" value="no" />
</form>
</body>
</html>