<!DOCTYPE HTML>
<html>
<title>Are You Sure?</title>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css"/>
</head>
<body>
<p>Are you sure you want to push the great button of joy?</p>
<form action="/ask">
    <input id="button" type="submit" value="yes"/>
</form>
<form action="/">
    <input id="button" type="submit" value="no" />
</form>
</body>
</html>