extends layout

doctype html
html
    head
        title = "The Great Button of Joy"
    body
        p Are you sure you want to push the Great Button of joy
        form(action='/ask')
            input(type='submit()' value='yes')
        form(action='views/index.jade')
            input(type='submit()' value='no')